@model Infinite_dungeon.Controllers.GameController.BattleViewModel

@{
    ViewData["Title"] = "Battle";
}

<h1>Battle</h1>

<div class="row flex-top margin" style="padding: 5px;">
    <div class="col-md-6">
        <div class="card border margin-right margin-bottom">
            <div class="card-body">
                <h5 class="card-title">@Model.Character.Name</h5>
                <p class="card-text">Level: @Model.Character.Level</p>
                <p class="card-text">Health: @Model.Character.HealthPoints / @Model.Character.MaxHealthPoints</p>
                <p class="card-text">Mana: @Model.Character.Mana / @Model.Character.MaxMana</p>
                <!-- Add other character information here -->
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card border margin-right margin-bottom">
            <div class="card-body">
                <h5 class="card-title">@Model.Enemy.Name</h5>
                <p class="card-text">Level: @Model.Enemy.Level</p>
                <p class="card-text">Health: @Model.Enemy.HealthPoints / @Model.Enemy.MaxHealthPoints</p>
                <!-- Add other enemy information here -->
            </div>
        </div>
    </div>
</div>

<div class="row mt-3 margin-right margin-bottom">
        <!-- Option 1: Attack -->
        <form asp-action="Battle" method="post">
            <input type="hidden" name="option" value="1" />
            <button type="submit" class="btn btn-primary">Attack</button>
        </form>
        @if(Model.Character.Mana < 2)
        {
            <button type="submit" class="btn btn-success" disabled>Heal (2)</button>
        }
        else
        {
            <!-- Option 2: Heal -->
            <form asp-action="Battle" method="post">
                <input type="hidden" name="option" value="2" />
                <button type="submit" class="btn btn-success">Heal (2)</button>
            </form>
        }


    @if (Model.Character.Weapon != null)
    {
        if (Model.Character.Mana < 3)
        {
            switch (Model.Character.Weapon.Type)
            {
                case WeaponType.Sword:
                    <button type="button" class="btn btn-danger" disabled>Double slash (3)</button>
                    break;
                case WeaponType.Bow:
                    <button type="button" class="btn btn-danger" disabled>Enchanted Shot (3)</button>
                    break;
                case WeaponType.Staff:
                    <button type="button" class="btn btn-danger" disabled>Magic Shot (3)</button>
                    break;
            }
        }
        else
        {
            switch (Model.Character.Weapon.Type)
            {
                case WeaponType.Sword:
                    <form asp-action="Battle" method="post">
                        <input type="hidden" name="option" value="3" />
                        <button type="submit" class="btn btn-danger">Double slash (3)</button>
                    </form>
                    break;
                case WeaponType.Bow:
                    <form asp-action="Battle" method="post">
                        <input type="hidden" name="option" value="3" />
                        <button type="submit" class="btn btn-danger">Enchanted Shot (3)</button>
                    </form>
                    break;
                case WeaponType.Staff:
                    <form asp-action="Battle" method="post">
                        <input type="hidden" name="option" value="3" />
                        <button type="submit" class="btn btn-danger">Magic Shot (3)</button>
                    </form>
                    break;
            }
        }
        if (Model.Character.Mana < 10)
        {
            switch (Model.Character.Weapon.Type)
            {
                case WeaponType.Sword:
                    <button type="button" class="btn btn-danger" disabled>Sword spin (10)</button>
                    break;
                case WeaponType.Bow:
                    <button type="button" class="btn btn-danger" disabled>Enchanted Triple Shot (10)</button>
                    break;
                case WeaponType.Staff:
                    <button type="button" class="btn btn-danger" disabled>Fire Ball (10)</button>
                    break;
            }
        }
        else
        {
            switch (Model.Character.Weapon.Type)
            {
                case WeaponType.Sword:
                    <form asp-action="Battle" method="post">
                        <input type="hidden" name="option" value="4" />
                        <button type="submit" class="btn btn-danger">Sword spin (10)</button>
                    </form>
                    break;
                case WeaponType.Bow:
                    <form asp-action="Battle" method="post">
                        <input type="hidden" name="option" value="4" />
                        <button type="submit" class="btn btn-danger">Enchanted Shot (10)</button>
                    </form>
                    break;
                case WeaponType.Staff:
                    <form asp-action="Battle" method="post">
                        <input type="hidden" name="option" value="4" />
                        <button type="submit" class="btn btn-danger">Magic Shot (10)</button>
                    </form>
                    break;
            }
        }
    }

</div>

