@model Infinite_dungeon.Controllers.GameController.BattleViewModel

@{
    ViewData["Title"] = "Battle";
}

<h1>Battle</h1>

<div class="row flex-top margin" style="padding: 5px; justify-content:center;">
    <div class="col-md-3">
        <div class="card border margin-right margin-bottom">
            <div class="card-body">
                <h5 class="card-title">@Model.Character.Name</h5>
                <p class="card-text">Level: @Model.Character.Level</p>
                <p class="card-text">Health: @Model.Character.HealthPoints / @Model.Character.MaxHealthPoints</p>
                <p class="card-text">Mana: @Model.Character.Mana / @Model.Character.MaxMana</p>
                <p class="card-text">Exp: @Model.Character.ExperiencePoints / @Model.Character.MaxExperiencePoints</p>
                <!-- Add other character information here -->
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border margin-right margin-bottom">
            <div class="card-body">
                <h5 class="card-title">@Model.Character.Name</h5>
                <div class="progress" style="width:10rem;">
                    <div class="bar success" style="width: @((double)(Model.Character.HealthPoints / Model.Character.MaxHealthPoints) * 100)%;"></div>
                </div>
                <h5 class="card-title">@Model.Enemy.Name</h5>
                <div class="progress" style="width:10rem;">
                    <div class="bar danger" style="width: @((double)(Model.Enemy.HealthPoints / Model.Enemy.MaxHealthPoints) * 100)%;"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-3" style="height:fit-content">
        <div class="card border margin-right margin-bottom">
            <div class="card-body">
                <h5 class="card-title">@Model.Enemy.Name</h5>
                <p class="card-text">Level: @Model.Enemy.Level</p>
                <p class="card-text">Health: @Model.Enemy.HealthPoints / @Model.Enemy.MaxHealthPoints</p>
                <!-- Add other enemy information here -->
            </div>
        </div>
    </div>
</div>

<div class="row mt-3 margin-right margin-bottom" style="justify-content:center;">
        <!-- Option 1: Attack -->
        <form asp-action="Battle" method="post">
            <input type="hidden" name="option" value="1" />
            <button type="submit" class="btn btn-primary">Attack</button>
        </form>
        @if(Model.Character.Mana < 25)
        {
            <button type="submit" class="btn btn-success" disabled>Heal (25)</button>
        }
        else
        {
            <!-- Option 2: Heal -->
            <form asp-action="Battle" method="post">
                <input type="hidden" name="option" value="2" />
                <button type="submit" class="btn btn-success">Heal (25)</button>
            </form>
        }


    @if (Model.Character.Weapon != null)
    {
        if (Model.Character.Mana < 25)
        {
            switch (Model.Character.Weapon.Type)
            {
                case WeaponType.Sword:
                    <button type="button" class="btn btn-danger" disabled>Double slash (25)</button>
                    break;
                case WeaponType.Bow:
                    <button type="button" class="btn btn-danger" disabled>Enchanted Shot (25)</button>
                    break;
                case WeaponType.Staff:
                    <button type="button" class="btn btn-danger" disabled>Magic Shot (25)</button>
                    break;
            }
        }
        else
        {
            switch (Model.Character.Weapon.Type)
            {
                case WeaponType.Sword:
                    <form asp-action="Battle" method="post">
                        <input type="hidden" name="option" value="3" />
                        <button type="submit" class="btn btn-danger">Double slash (25)</button>
                    </form>
                    break;
                case WeaponType.Bow:
                    <form asp-action="Battle" method="post">
                        <input type="hidden" name="option" value="3" />
                        <button type="submit" class="btn btn-danger">Enchanted Shot (25)</button>
                    </form>
                    break;
                case WeaponType.Staff:
                    <form asp-action="Battle" method="post">
                        <input type="hidden" name="option" value="3" />
                        <button type="submit" class="btn btn-danger">Magic Shot (25)</button>
                    </form>
                    break;
            }
        }
        if (Model.Character.Mana < 100)
        {
            switch (Model.Character.Weapon.Type)
            {
                case WeaponType.Sword:
                    <button type="button" class="btn btn-danger" disabled>Sword spin (100)</button>
                    break;
                case WeaponType.Bow:
                    <button type="button" class="btn btn-danger" disabled>Enchanted Triple Shot (100)</button>
                    break;
                case WeaponType.Staff:
                    <button type="button" class="btn btn-danger" disabled>Fire Ball (100)</button>
                    break;
            }
        }
        else
        {
            switch (Model.Character.Weapon.Type)
            {
                case WeaponType.Sword:
                    <form asp-action="Battle" method="post">
                        <input type="hidden" name="option" value="4" />
                        <button type="submit" class="btn btn-danger">Sword spin (100)</button>
                    </form>
                    break;
                case WeaponType.Bow:
                    <form asp-action="Battle" method="post">
                        <input type="hidden" name="option" value="4" />
                        <button type="submit" class="btn btn-danger">Enchanted Shot (100)</button>
                    </form>
                    break;
                case WeaponType.Staff:
                    <form asp-action="Battle" method="post">
                        <input type="hidden" name="option" value="4" />
                        <button type="submit" class="btn btn-danger">Magic Shot (100)</button>
                    </form>
                    break;
            }
        }
    }

</div>

